<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="header">Playlists</h1>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th></tr>
      </thead>
      <tbody>
        <% @playlists.each do |playlist| %>
          <% is_default = playlist.name == 'default' %>
          <tr>
            <td><%= playlist.name %></td>
            <td><%= link_to 'Show', playlist %></td>
            <td><%= link_to 'Edit', edit_playlist_path(playlist) unless is_default %></td>
            <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } unless is_default %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Playlist', new_playlist_path %>
  </div>
</div>
<br/>
